/* styles.css - Dark Modern Theme */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #81a1c1;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 1.2px;
}

section {
    background-color: #1e1e1e;
    max-width: 500px;
    margin: 0 auto 40px auto;
    padding: 25px 35px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.8);
    border: 1px solid #2e3440;
}

section h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #88c0d0;
    border-bottom: 2px solid #81a1c1;
    padding-bottom: 8px;
    font-weight: 600;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1.5px solid #434c5e;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #2e3440;
    color: #d8dee9;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

    input[type="text"]:focus,
    input[type="number"]:focus,
    select:focus{
        border-color: #81a1c1;
        background-color: #3b4252;
        outline: none;
    }

button {
    background-color: #81a1c1;
    border: none;
    color: #2e3440;
    padding: 14px 25px;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    font-weight: 700;
    box-shadow: 0 4px 12px rgba(129, 161, 193, 0.6);
}

    button:hover {
        background-color: #88c0d0;
        color: #1e1e1e;
        box-shadow: 0 6px 16px rgba(136, 192, 208, 0.8);
    }

.head-container {
    background-color: #1c1c1c;
    width: 100%;
    padding: 20px;
    margin-bottom:10px;
}
.connect-btn {
    width: 100px;
    font-size: 0.8rem;
}

.headBtn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}

.headBtn {
    background-color: #81a1c1;
    border: none;
    color: #2e3440;
    padding: 14px 25px;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 30%;
    font-weight: 700;
    box-shadow: 0 1px 5px rgba(129, 161, 193, 0.6);
}

pre#infoOutput {
    background-color: #2e3440;
    border: 1px solid #4c566a;
    padding: 20px;
    border-radius: 10px;
    max-height: 320px;
    overflow-y: auto;
    font-size: 0.9rem;
    color: #d8dee9;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-shadow: inset 0 0 8px #434c5e;
}

@media (max-width: 600px) {
    section {
        margin: 0 10px 40px 10px;
        padding: 20px 25px;
    }
}

.errorText {
    color: red !important;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
}

.non-display {
    display: none !important;
}
